@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: grid;
    place-items: center;
    place-content: center;
    min-height: 100vh;
    overflow: hidden;
}

#title {
    font-size: 3.5rem;
    margin: 0;
}

#score {
    font-size: 4rem;
}

.main,
button,
input {
    font-family: Righteous, cursive;
    color: white;
    box-shadow: 0 8px 32px 0 rgba(137, 143, 219, 0.37);
    backdrop-filter: blur(3px);
    border-radius: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.274);
}

.main {
    position: fixed;
    padding: 5rem;
    display: grid;
    place-items: center;
    background: radial-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.25)
    );
}

.main-question {
    padding-right: 8%;
}

button,
input {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 1.2rem;
    background-color: aliceblue;
    transition: background-color 0.5s, color 0.5s;
    color: rgb(20, 20, 56);
}

input {
    width: 97%;
    text-align: center;
}

.group {
    display: grid;
    grid-template-columns: 30px 300px;
    grid-template-rows: 40px;
    align-items: center;
}

#question {
    text-align: center;
    font-size: 2.5rem;
}

h4 {
    position: relative;
    left: 3rem;
    z-index: 2;
    color: black;
    font-size: 1.5rem;
}

#score,
#description {
    padding: 0;
    margin: 0;
}

#description {
    width: 30rem;
    font-size: 1.5rem;
}

#score {
    text-align: center;
}

button:hover {
    background-color: rgb(112, 151, 255);
    color: aliceblue;
}

@keyframes correct {
    0% {
        background-color: linear-gradient(90deg, aliceblue, rgb(200, 255, 160));
    }

    100% {
        background-color: rgb(112, 255, 160);
    }
}

@keyframes incorrect {
    0% {
        background-color: linear-gradient(90deg, aliceblue, rgb(255, 112, 112));
    }

    100% {
        background-color: rgb(255, 112, 112);
    }
}
